---
title: Contact
layout: map
permalink: "/contact/"
cover: "/assets/office.jpg"
permaltitle: 브랜디 R&D본부
APIKEY: AIzaSyDu1kiJUnsuUGcgEyfx7EN9Gq4XPL6UkSc
lat: 37.499742
lng: 127.039936
gnav: 4
---

<h3 class="margin-top-3em">Head Office</h3>
서울 강남구 테헤란로32길 26 (역삼동 725-21)<br/>
#26, Teheran-ro 32-gil, Gangnam-gu, Seoul, Republic of Korea<br/><br/>
T. 02-6205-0303 (내선번호 7) <br/>
E. welcome.dev@brandi.co.kr <br/>


<h3 class="margin-top-3em">Brandi App Download</h3>
<section class="applink">
  {% for appinfo in site.applink %}
	    {% if appinfo.name == "Android" and appinfo.share == true %}
      <a href="{{appinfo.url}}" title="{{appinfo.desc}}"><img src="{{ site.url }}{{ site.baseurl }}{{ appinfo.img}}"></a>
    {% endif %}
	    {% if appinfo.name == "iOS" and appinfo.share == true %}
      <a href="{{appinfo.url}}" title="{{appinfo.desc}}"><img src="{{ site.url }}{{ site.baseurl }}{{ appinfo.img}}"></a>
    {% endif %}

	{% endfor %}
</section>


<h3 class="margin-top-3em">Web Service</h3>
<section>
<a href="https://www.brandi.co.kr" title="브랜디"><img src="{{ site.url }}{{ site.baseurl }}/assets/bis/banner_brandi.png" class="bi brandi"> </a>
	<a href="https://www.hiver.co.kr" title="하이버"><img src="{{ site.url }}{{ site.baseurl }}/assets/bis/banner_hiver.png" class="bi brandi"></a>
<a href="http://www.helpi.co.kr" title="브랜디 헬피"><img src="{{ site.url }}{{ site.baseurl }}/assets/bis/banner_helpi.png" class="bi helpi"></a>
</section>
